// custom variables
$primary: #ce9c28;
$light: rgb(248, 243, 225);

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "alt-light": #f2ebfa,
    "alt-dark": #522192
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';